.footer{
    background:linear-gradient(to bottom, #F7BE00, #EE7623);
    margin-top: 10px;
    text-align: center;
    color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.copyr{
    background-color: #ee7823cc;
}