<div class="card">
  <div class="card-body">
    <div class="cardText">
      <h4 class="card-title">Component {{ childPosition }}</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra
        nibh cras pulvinar. Elit sed vulputate mi sit amet mauris commodo quis.
        Ac felis donec et odio pellentesque diam volutpat commodo sed. Euismod
        nisi porta lorem mollis aliquam. Neque egestas congue quisque egestas
        diam in arcu. Tincidunt praesent semper feugiat nibh. Neque egestas
        congue quisque egestas. Habitasse platea dictumst quisque sagittis
        purus. Sed egestas egestas fringilla phasellus. Pretium aenean pharetra
        magna ac placerat. Quis commodo odio aenean sed adipiscing diam donec.
        Quam viverra orci sagittis eu volutpat odio facilisis mauris sit.
        Pharetra pharetra massa massa ultricies mi.<br /><br />
        Ultrices dui sapien eget mi proin sed. At consectetur lorem donec massa
        sapien faucibus. Malesuada fames ac turpis egestas integer eget aliquet
        nibh praesent. Enim nec dui nunc mattis enim. Accumsan tortor posuere ac
        ut consequat. Leo urna molestie at elementum eu facilisis sed odio.
        Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium
        vulputate. Vitae auctor eu augue ut lectus arcu. Egestas erat imperdiet
        sed euismod nisi porta. Vehicula ipsum a arcu cursus vitae congue.
        Cursus sit amet dictum sit amet justo donec enim. Auctor augue mauris
        augue neque gravida in fermentum et sollicitudin. Fringilla urna
        porttitor rhoncus dolor.
      </p>
    </div>
  </div>
</div>
