* {
  box-sizing: border-box;
}
.player-container {
  margin: auto;
  display: table;
  background-color: #F7BE00;
  border: 1px solid black;
  #playing {
    display: none;
  }
  .gif {
    visibility: hidden;
  }
  #playing:checked {
    ~ .gif {
      visibility: visible;
    }
    ~.btn-play {
      display: none;
    }
    ~.btn-stop {
      display: block;
    }
  }
}
.btn {
  display: block;
  width: 100%;
  padding: 1rem 1.6rem;
  border-top: 1px solid white;
  font-family: Arial, sans-serif;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #444;
  }
  &.btn-stop {
    display: none;
    .icon-stop {
      font-size: 135%;
      line-height: 1px;
    }
  }
}

button {
font-size: small;
color: #cce3ff;
background: linear-gradient(to bottom, #000000c3, #000000);
border-top: 2px #cce3ff solid;
border-left: 2px #ffdecc solid;
border-bottom: 2px #ff6b0f solid;
border-right: 2px #ff6b0f solid;
}
button:hover {
color: #ff6b0f;
}