<div class="card">
  <div class="card-body">
    <div class="cardText">
      <h4 class="card-title">Component {{ childPosition }}</h4>
      <div class="player-container">
        <input type="checkbox" id="playing" />
        <img
          class="gif"
          src="https://media1.giphy.com/media/KFtV9DkiZJ7oBqPtlL/giphy.gif?cid=6c09b952xi78rpom09v5zcxkax5ip8qlmtql06cjqfg6x24w&ep=v1_stickers_related&rid=giphy.gif&ct=s"
        />
        <label class="btn btn-stop" for="playing"
          ><span class="icon-stop">&#9632;</span> Stop</label
        >
        <label class="btn btn-play" for="playing">&#9658; Play</label>
      </div>
      <button
        type="button"
        class="btn"
        data-toggle="button"
        routerLink="/weather"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Weather
      </button>
      <p class="card-text" style="margin-top: 10px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque mauris
        pellentesque pulvinar pellentesque habitant morbi. Nulla pellentesque
        dignissim enim sit. Arcu ac tortor dignissim convallis aenean et tortor
        at risus. Mauris pellentesque pulvinar pellentesque habitant morbi
        tristique senectus. Sapien et ligula ullamcorper malesuada proin libero
        nunc consequat. Iaculis urna id volutpat lacus.<br /><br />
        Diam vel quam elementum pulvinar. Rutrum quisque non tellus orci ac. Sit
        amet porttitor eget dolor morbi non arcu risus quis. Magnis dis
        parturient montes nascetur ridiculus. Amet mattis vulputate enim nulla
        aliquet. Commodo elit at imperdiet dui. Arcu dui vivamus arcu felis
        bibendum ut tristique et. Pharetra vel turpis nunc eget lorem dolor. Sed
        euismod nisi porta lorem mollis aliquam. Porta nibh venenatis cras sed.
        Congue quisque egestas diam in arcu cursus euismod. Ante metus dictum at
        tempor commodo ullamcorper a lacus. Accumsan sit amet nulla facilisi
        morbi. Habitasse platea dictumst quisque sagittis purus sit amet.<br /><br />
        Aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Et tortor
        at risus viverra adipiscing at in tellus integer. Ut etiam sit amet nisl
        purus in mollis nunc. Diam ut venenatis tellus in metus. Lacinia at quis
        risus sed vulputate odio ut enim. Sed ullamcorper morbi tincidunt ornare
        massa eget egestas purus. Suscipit tellus mauris a diam maecenas sed.
        Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Elit
        scelerisque mauris pellentesque pulvinar pellentesque habitant. Nisi
        vitae suscipit tellus mauris a diam maecenas sed enim. Vehicula ipsum a
        arcu cursus. Augue interdum velit euismod in pellentesque massa placerat
        duis ultricies. Egestas integer eget aliquet nibh praesent tristique.
        Diam maecenas ultricies mi eget mauris pharetra et ultrices. Feugiat
        scelerisque varius morbi enim. Ultrices eros in cursus turpis.<br /><br />
        Orci ac auctor augue mauris augue neque gravida in. Et egestas quis
        ipsum suspendisse ultrices gravida dictum fusce. Vitae justo eget magna
        fermentum. Quam viverra orci sagittis eu. Ut sem nulla pharetra diam sit
        amet. In mollis nunc sed id. Netus et malesuada fames ac. Nunc eget
        lorem dolor sed viverra ipsum nunc aliquet bibendum. Egestas egestas
        fringilla phasellus faucibus scelerisque eleifend donec pretium
        vulputate. Sit amet commodo nulla facilisi nullam. Ipsum a arcu cursus
        vitae congue. Morbi tristique senectus et netus et malesuada. Etiam erat
        velit scelerisque in dictum non consectetur. Massa tincidunt nunc
        pulvinar sapien et ligula ullamcorper malesuada proin. Ultrices sagittis
        orci a scelerisque purus semper. Tincidunt lobortis feugiat vivamus at
        augue eget. <br /><br />Tortor condimentum lacinia quis vel eros donec.
        Libero id faucibus nisl tincidunt eget nullam non nisi. Purus viverra
        accumsan in nisl nisi scelerisque eu. Faucibus et molestie ac feugiat
        sed lectus vestibulum mattis. Non arcu risus quis varius quam quisque id
        diam. Condimentum vitae sapien pellentesque habitant. Volutpat maecenas
        volutpat blandit aliquam. Est sit amet facilisis magna etiam tempor
        orci. Adipiscing elit duis tristique sollicitudin nibh sit amet.
      </p>
    </div>
  </div>
</div>