#mainNav {
  background: linear-gradient(to left, #ffca22, #dd6c22);
  font-family:monospace;

}
.git {
  p {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: small;
  }
}
.gitDiv {
  border-width: 0px;
  border-radius: 22px;
  -moz-box-shadow: inset 10px 10px 50px #ffca22;
  -webkit-box-shadow: inset 10px 10px 50px #dd6c22;
  box-shadow: inset 10px 10px 50px #ff9c22;
  img {
    height: 42px;
  }
}
#logo {
  max-width: 30%;
  margin-left: 3%;
  padding: 0px 5px 0px 5px;
  -khtml-box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #e17e13;
  -webkit-box-shadow: 10px 10px 5px #e87714;
  box-shadow: -10px 7px 4px #b75205dc;
}
.sizeT{
  max-width: 15%;
}
