<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase d-flex"
  id="mainNav"
>
  <div class="container">
    <a
      href="https://www.migroskurumsal.com/"
      class="navbar-brand"
      style="text-decoration: none"
      target="_blank"
      rel="noopener"
    >
      <img src="../../assets/MicrosoftTeams-image.png" alt="logo" id="logo" />
      <img src="../../assets/size-bg.png" class="sizeT">
    </a>
    <button
      class="navbar-toggler font-weight-bold bg-dark text-white rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      {{ userName }}
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="git navbar-nav ms-auto">
        <a
          href="https://github.com/{{ userName }}"
          target="_blank"
          style="text-decoration: none"
          rel="noopener"
        >
          <div class="container-fluid">
            <div class="gitDiv navbar-collapse">
              <p class="nav-link navbar-collapse m-2 p-1" aria-current="page">
                Hi,<b> {{ userName }}</b>
              </p>
              <img
                [src]="photo"
                alt="Profil Fotoğrafı"
                *ngIf="photo"
                class="rounded-circle"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
