form{
    font-family:'Times New Roman', Times, serif
}
img{
    margin: auto;
    height: 100%;
    filter: contrast(10px);
    border-radius: 1rem 0 0 1rem;
}
section{
    background-color: #d26e30;
}