<div class="card">
  <div class="card-body">
    <div class="cardText">
      <h4 class="card-title">Component {{ childPosition }}</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Et tortor consequat
        id porta nibh venenatis cras sed felis. Erat nam at lectus urna duis.
        Commodo elit at imperdiet dui accumsan. Dignissim diam quis enim
        lobortis. Nisl nisi scelerisque eu ultrices. Leo a diam sollicitudin
        tempor id. A erat nam at lectus. Magna etiam tempor orci eu lobortis
        elementum nibh tellus molestie. Mollis aliquam ut porttitor leo a diam
        sollicitudin tempor. Nunc sed augue lacus viverra vitae congue eu
        consequat. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum.
        Integer enim neque volutpat ac tincidunt vitae.<br /><br />
        Amet purus gravida quis blandit turpis. Pulvinar etiam non quam lacus
        suspendisse. Massa enim nec dui nunc mattis. Sit amet porttitor eget
        dolor morbi non. Mauris pellentesque pulvinar pellentesque habitant
        morbi tristique. Dignissim enim sit amet venenatis urna cursus eget nunc
        scelerisque. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus
        aenean. Sit amet mauris commodo quis imperdiet massa. Enim nulla aliquet
        porttitor lacus luctus accumsan tortor posuere. Aliquam faucibus purus
        in massa tempor. Purus sit amet luctus venenatis lectus magna. Vel orci
        porta non pulvinar.<br /><br />
        Velit egestas dui id ornare arcu odio ut sem. Ornare arcu odio ut sem
        nulla pharetra diam sit. Arcu risus quis varius quam quisque.
        Pellentesque sit amet porttitor eget. Eu facilisis sed odio morbi quis
        commodo odio aenean. Est ullamcorper eget nulla facilisi etiam. Libero
        id faucibus nisl tincidunt eget nullam non. Etiam tempor orci eu
        lobortis. Egestas pretium aenean pharetra magna ac. A lacus vestibulum
        sed arcu non odio euismod lacinia. Porttitor eget dolor morbi non arcu
        risus.
      </p>
      <button
        type="button"
        class="btn"
        data-toggle="button"
        routerLink="/weather"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Weather
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
