button {
  font-size: small;
  color: #cce3ff;
  background: linear-gradient(to bottom, #000000c3, #000000);
  border-top: 2px #cce3ff solid;
  border-left: 2px #ffdecc solid;
  border-bottom: 2px #ff6b0f solid;
  border-right: 2px #ff6b0f solid;
}
button:hover {
  color: #ff6b0f;
}
.card div:first-of-type {
  background-image: url("../../../assets/magaza.jpg");
  border-radius: 5px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .cardText:first-child {
    padding: 20px;
    background: #ffffffd3;
    border-radius: 20px;
    opacity: 0.8;
    font-weight:initial;
  }
}
